.iframeAppContainer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
    /*border: 3px solid deeppink;*/
    border-top: 1px solid lightgray;
}
.iframeContainer{
    height:400px;
    overflow:hidden;
}
.iframeContainer>.handle{
    position:absolute;
    top:10px;
    right:10px;
    z-index:1002;
}
.iframeContainer>.handle.handle2{
    right:50px;
}
.iframeContainer>.handle.draghandle{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:n-resize;
    text-align: center;
    color:white;
    left:0;
    top:0;
    display:block;width: 400px;margin-left:auto;margin-right:auto;
}
.draghandle>i{
    cursor:pointer;
}
.iframeContainer.collapsed{
    height:2px;
}
.iframeContainer.maxed{
    height:99%;
}
.iframeContainer.collapsed > iframe{
    display:none;
}
.iframeContainer>iframe{
    width:100%;
    height:100%;
    background-color:white;
    border:none;
}

.iframeContainer.collapsed > .handle{
    top:-20px;
}

.markerprotector{
    background-color:white;position:fixed;z-index:5000;top:0;left:0;width:100%;bottom:0;
}
.bigprotector{
    background-color:white;position:fixed;z-index:1000;top:0;left:0;width:100%;bottom:0;
}
.markerprotector > .centernotice{

     width:300px;
     height:200px;
     position:absolute;
     left:50%;
     top:50%;
     margin:-100px 0 0 -150px;
}
