<div class="tasklist">
<table class="generaltable">
 <thead>
 <tr><th>ID Entrega</th><th>% Corregido</th><th>% Acuerdo</th><th>Notificaciones</th><th>Acciones</th></tr>
 </thead>
 <tbody>
 <tr ng-repeat="task in tasks" ng-class-odd="'r1'" ng-class-even="'r0'">
     <td>
        {{task.student}}
     </td>
     <td>
         <progressbar class="progress-striped active" style="margin:0;" max="task.ncriteria" value="task.fillings" type="info"><i>{{ task.fillings }}/{{ task.ncriteria }}</i></progressbar>
     </td>
     <td>
         <progressbar class="progress-striped active" style="margin:0;" max="task.ncriteria" value="task.effectiveprogress" type="success"><i>{{ task.effectiveprogress }}/{{ task.ncriteria }}</i></progressbar>
     </td>
     <td>
         <span class="badge badge-info">{{task.alerts}}</span>
     </td>
     <td>
        <a class="btn" ng-click="goToSubmission(task.id)">Ir a la entrega</a>
     </td>
 </tr>
 </tbody>
</table>
</div>

