.dashboard{
    position:relative;
    text-align:center;
    right:10px;
    margin-left:auto;
    margin-right:auto;
}
.delphiembed{
    height:500px;
}
.ngGrid {
    height: 300px!important;
}
.dashboard.mini{
    position:relative;
    text-align:left;
    margin-left:0;
    right:inherit;
    left:0;
    margin-right:0;
}
.dashboard td{
    position:relative;
    padding:10px;
    background-color: #b9fafe;
    width:100px;
    height:100px;
    font-weight: 700;
}

.dashboard.mini td{
    position:relative;
    padding:10px;
    background-color: #b9fafe;
    width:10px;
    height:10px;
    font-weight: 700;
}
.dashboard td > .handle{
    position:relative;
    display:none;

}
.dashboard td > .voters{
    width:100%;
    position:absolute;
    top:0;
    left:0;

}
.dashboard td.success{
    background-color: #87ff93;
}
.dashboard td.fail{
    background-color: #eeb3b6;
}
.dashboard td.warn{
    background-color: #ffd577;
}
.dashboard td:hover{
    background-color: #32dfff;
    color: #2595b3;
}
.dashboard td.success:hover{
    background-color: #5aee6b;
    color: #42a442;
}
.dashboard td.fail:hover{
    background-color: #ee7471;
    color: #9d4f4f;
}
.dashboard td.warn:hover{
    background-color: #eec16d;
    color: #9e7c4f;
}
.dashboard td i:hover{
    color: #000000;
}
.dashboard td:hover > .handle{
    display:block;
    position:absolute;
    top:5px;
    left:10px;

}
.popup {
    position:absolute;
    background-color: #ddf3ff;
    padding:10px;
    margin-top:0;
    z-index:100;
    border-radius:10px;
}
i.pending {
    color:gray;
    font-size:1em;
}
i.me {
    font-size:1.5em;
}